
<!--<div class="container">-->
<!--  <app-post [postdate]="mdate.toLocaleString()" username="Ahmed" text="Hello world."></app-post>-->
<!--  <app-post [postdate]="mdate.toLocaleString()" username="Ahmed" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam justo nulla, fermentum at porta eget, consectetur a orci. Maecenas luctus viverra neque quis sodales. Nullam dui quam, tempor eget ultrices non, gravida vitae tortor. Nunc tristique at turpis non pharetra. Ut eget sapien vel leo sagittis semper. Mauris eu felis sit amet nisl interdum semper sit amet id nulla. Curabitur ullamcorper, nisl sed dignissim dignissim, ante mauris dignissim augue, id ullamcorper leo elit in lectus. Maecenas ligula massa, pretium vel purus eget, fermentum aliquet leo. Etiam ullamcorper nec metus ut ultricies. Vestibulum maximus dapibus dolor sit amet accumsan. Nullam enim lacus, feugiat id neque vel, bibendum pretium nisi."></app-post>-->
<!--  <app-post [postdate]="mdate.toLocaleString()" username="SomeoneElse" text="hello earth."></app-post>-->
<!--</div>-->

<!--<app-sign></app-sign>-->

<!--<app-create username="ahmed"/>-->

<app-header></app-header>
<div class="pt-5">
<app-posts></app-posts>
</div>
<router-outlet></router-outlet>
